@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "SFPRO";
  src: url("../../public/fonts/SF-Pro-Text-Regular.otf");

  font-family: "SFPROLIGHT";
  src: url("../../public/fonts/SF-Pro-Text-Light.otf");

  font-family: "SFPROBOLD";
  src:url("../../public/fonts/SF-Pro-Text-Bold.otf");
  
  font-family: "SFPRODISPLAYBOLD";
  src:url("../../public/fonts/SF-Pro-Display-Bold.otf");
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}